NODE_ENV=development
PORT=3000
CORS_ORIGIN=http://localhost:4200

MONGO_URI=mongodb+srv://\usuario:contraseña@lfproyect.qm9arhs.mongodb.net/lfdb?retryWrites=true&w=majority

JWT_SECRET=codigo_secreto


# Correo / SMTP
SMTP_USER=notificaciones.lostandfound@gmail.com
SMTP_PASS=ezdh iywy hchh uxka
SMTP_FROM="Lost & Found UTRM <notificaciones.lostandfound@gmail.com>"